/* Remove the background color from the navbar */
.navbar-container {
    background-color: transparent !important;
  }
  
  .navbar {
    background-color: transparent !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .navbar .nav-link,
  .navbar .navbar-brand {
    color: #ffffff !important;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .navbar .nav-link:hover,
  .navbar .navbar-brand:hover {
    color: #ffa500 !important;
    transform: scale(1.1);
  }
  
  .navbar-toggler {
    transition: transform 0.3s ease;
  }
  
  .navbar-toggler:hover {
    transform: scale(1.1); 
  }
  